@{
    ViewData["Title"] = "Home Page";
}


<form>
    <p>Сервер  <select name="Сервер">
        <option selected value="Иркутск">Иркутск</option>
        <option value="Тюмень">Тюмень</option>
        <option value="Норд">Норд</option>
        </select>
    </p>
    <p>SGTIN  <input type="text" name="SGTIN"></p>
    <p>GTIN   <input type="text" name="GTIN"></p>
    <p>Serial <input type="text" name="serial"></p>
    <input type="button" name="GetCypto" value="Получить">
</form>
