@{
    ViewData["Title"] = "Home Page";
}


<html>
	<body>
		<h1>Генератор кодов маркировки</h1>
		<!--ввод данных SGTIN-->
		<div class="headBlock">
		    <p> Выберите сервер системы маркировки:</p>	
            <select name="Сервер БД" class="searchInput" 
				title="Выберите систему маркировки где был промаркирован препарат">
                <option value="i1">Антарес</option>
                <option value="i2">Медтех</option>
            </select>
			<p>
			<div>
				<input type="text" id="sgtin" class="searchInput" placeholder="Код SGTIN"
					title="Идентификатор SGTIN должен иметь длину 27 символов и начинаться с 0">
			</div>
			<div>
				<input type="text" id="gtin" class="searchInput" placeholder="GTIN" 
					title="Идентификатор GTIN должен иметь длину 14 символов и начинаться с 0">
			</div>
			<div>
				<input type="text" id="serial" class="searchInput" placeholder="Cерийный номер упаковки" 
					title="Серийный номер должен иметь длину 13 символов">
			</div>
			<p>
			<div>
				<input type="button" class="btnCorp" value="Получить криптокод"
					title="Выполнить запрос на сервера маркировки" />
			</div>
		</div>
		<p/>
		<!--вывод ДМ-->
		<div class="headBlock">
			<div>
				<img alt="DMX" height=100 align ="middle">
			</div>
			<p>
			<div id="container" class="barcodeStyle">
				<input type="button" class="btnCorp" value="Скачать"
					   title="Сохранить файл на компьютер" />
				<input type="button" class="btnCorp" value="Скопировать"
					   title="Скопировать в буфер обмена" />
			</div>
		</div>
		<p>
		<!--полезности-->
		<div class="headBlock">
			<a class="infolink" href="//" target="_blank">Посмотреть пример поиска 🔍</a>
			<a class="infolink" href="mailto:m.sukharev@pharmasyntez.com">Сообщить об ошибке ⚠️</a>
			<span class="infohotline">Дежурный по маркировке 📟 Тел: 444 </span>
		</div>
</body>

</html>
