<configuration>
  <site name="CryptogetterBlazorApp" id="2" serverAutoStart="true">
      <application path="/" applicationPool="Clr4IntegratedAppPool">
        <!--virtualDirectory path="/" physicalPath="C:\Users\m.sukharev\source\repos\mrSukhoff\CryptoGetter\CryptogetterBlazorApp" /-->
        <virtualDirectory path="/" physicalPath="c:\Users\mazy_\source\repos\CryptoGetter\CryptogetterBlazorApp\" />
      </application>
      <bindings>
          <binding protocol="http" bindingInformation="*:1866:*" />
      </bindings>
  </site>

  <system.webServer>
      <security>
          <authentication>
              <anonymousAuthentication enabled="false" />
              <windowsAuthentication enabled="true">
                  <providers>
                      <add value="Negotiate" />
                      <add value="NTLM" />
                  </providers>
              </windowsAuthentication>
          </authentication>
      </security>
      <httpErrors errorMode="Custom" existingResponse="PassThrough">
          <remove statusCode="403" />
      </httpErrors>
  </system.webServer>
</configuration>