@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "DmxGeneratorsPolicy")]
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Hello, world!</h1>
Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        Console.WriteLine($"User: {user.Identity.Name}");
        Console.WriteLine($"Is in dmx.generators: {user.IsInRole("pharmasyntez.com\\Marking\\Groups\\dmx.generators")}");
    }
}